<div class="container">
  <div class="row">
    <div class="col-12">
      <%= form_with model: @item, url: admin_item_path(@item), method: :PUT do |f|%>
        <div>
        <div><%= f.label :商品名 %></div>
        <div><%= f.text_field :name%></div>
        </div>
        <div>
        <div><%= f.label :ジャンル %></div>
        <div><%= f.collection_select :genre_id,@genres, :id, :name, include_blank: "--選択してください--"%></div>
        </div>
        <div>
        <div><%= f.label :商品紹介 %></div>
        <div><%= f.text_area :introduction, size:"40" %></div>
        </div>
        <div>
        <div><%= f.label :価格 %></div>
        <div><%= f.text_field :price, placeholder: "1000" %>円</div>
        </div>
        <div>
        <div><%= f.label :販売状況 %></div>
        <div><%= f.check_box :is_active %></div>
        </div>
        <%= f.submit "更新" %>
      <% end %>
    </div>
  </div>
</div>