<h1>Admin::Items#show</h1>
<p>Find me in app/views/admin/items/show.html.erb</p>

<%= @item.name %>
<%= @item.introduction %>
<%= @item.price %>
<%= @item.is_active %>
<%= @item.genre.name %>
<%= link_to "編集する",edit_admin_item_path(@item.id),class: 'btn  btn01 col-sm-2' %>

