<div class="container">
  <div class="row justify-content-between">
    <div class="col-sm-3">
      <h5>ジャンル新規作成</h5>
      <%= form_with model:@genre, url:admin_genres_path(@genre.id), method: :patch do |f| %>
        <%= f.text_field :name, size: "16", placeholder: "食べ物" %>
        <%= f.submit "登録" %>
      <% end %>
    </div>
    <div class="col-sm-8">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">ジャンル一覧</th>
          </tr>
        </thead>
        <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <td><%= genre.name %></td>
            <td> <%= link_to  edit_admin_genre_path(genre) do %>
              <i class="fa-solid fa-pen-to-square"></i>編集
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
